.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
    
    
}
.header > .containerH{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    width: 100%;
    
}
.logo a{
    color:white;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    font-style: italic;
    
    
}

.logo .nombre{
    color: white;
    font-weight: 900;
    
}
/*Menú*/
.menu-btn{
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
    
}

.menu-btn svg{
    fill: var(--first-color);
    
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    
}

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}

.menu a{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}
.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}
/*Estilos para el Header y el menú para pantallas mayor a 1024*/
@media screen and (min-width: 1024px){
    .header{
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height)-0.5rem);
    }
    .menu-btn{
        display: none;
    }
    .menu{
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .menu a{
        padding: 0 1rem;
    }
    .menu a:last-child{
        padding-right: 0;
    }
    .menu a:hover{
        background-color: transparent;
    }
}